@charset "UTF-8";

.titulo {
	font-size: 2em;
	margin-bottom: 0,5em;
	
}


.margen{
	
		margin-bottom:4.5em;
}
a{
	
	margin-left: 2%;
	color: blue;
	text-decoration: none;

}

a:hover{
	color: black;
}






.contenedor {
	height: 80%;
	width: 950px;
	background-color: gray;
	border:solid red;
	color: white;
	margin-left: 6px;
	margin-bottom: 6px;
	
}

.menu{
	font-size: 6em;
}

.titulo2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: red;
}

.enlaces2:hover{
	color: blue;
	text-decoration: underline;
}

